<html ng-app='app'>
	<head>
		<meta charset="utf-8"/>
		<title>Exam</title>

		<link type="text/css" rel="stylesheet" href="css/style.css"/>
	</head>

	<body ng-controller='MainCtrl'>
		<div class="form">
            <div>
                <label for="todo">Todos</label>
                <input ng-model='todo'>
            </div>
            <button ng-click="addTodo()"></button>
		</div>
        <div class="todos-list">
            <label for="todos">To do List:</label>
            <ul id="todos"></ul>
        </div>
		<div>
            <button id="removeall">Usun wszystko</button>
		</div>
        
	</body>
        <script type="text/javascript" src="lib/angular.min.js"></script>
        <script type="text/javascript" src="js/app2.js"></script>
        <script type="text/javascript" src="js/ctrl.js"></script>
<!--
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
-->
</html>
